<div class="register-doctor-container">
    <h2>Rejestracja Lekarza</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="firstName">Imię:</label>
        <input id="firstName" formControlName="firstName" type="text" />
        <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched" class="error-msg">
          Imię jest wymagane.
        </div>
      </div>
  
      <div>
        <label for="lastName">Nazwisko:</label>
        <input id="lastName" formControlName="lastName" type="text" />
        <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" class="error-msg">
          Nazwisko jest wymagane.
        </div>
      </div>
  
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" />
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-msg">
          Poprawny email jest wymagany.
        </div>
      </div>
  
      <div>
        <label for="password">Hasło:</label>
        <input id="password" formControlName="password" type="password" />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-msg">
          Hasło jest wymagane.
        </div>
      </div>
  
      <div>
        <label for="gender">Płeć:</label>
        <select id="gender" formControlName="gender">
          <option value="">Wybierz</option>
          <option value="male">Mężczyzna</option>
          <option value="female">Kobieta</option>
        </select>
        <div *ngIf="registerForm.get('gender')?.invalid && registerForm.get('gender')?.touched" class="error-msg">
          Płeć jest wymagana.
        </div>
      </div>
  
      <div>
        <label for="age">Wiek:</label>
        <input id="age" formControlName="age" type="number" />
      </div>
  
      <div>
        <label for="specialization">Specjalizacja:</label>
        <input id="specialization" formControlName="specialization" type="text" />
      </div>
  
      <button type="submit" [disabled]="registerForm.invalid">
        Zarejestruj Lekarza
      </button>
    </form>
  
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>
  </div>